apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spoolman
  namespace: spoolman
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://charts.truechartsoci.org
      chart: spoolman
      version: 0.1.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    securityContext:
      container:
        runAsNonRoot: false
        readOnlyRootFilesystem: false
        runAsUser: 0
        runAsGroup: 0
    service:
      main:
        ports:
          main:
            port: 8000
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: spoolman.${DOMAIN_0}
        integrations:
          traefik:
            enabled: false
          #auth
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
    persistence:
      enabled: true
      main:
        data:
          mountPath: /data
