---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minecraft-java
  namespace: minecraft-java
spec:
  interval: 15m
  chart:
    spec:
      chart: minecraft-java
      version: 23.2.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false

    service:
      bluemap:
        enabled: true
        ports:
          bluemap:
            enabled: true
            protocol: tcp
            port: 8100

    modrinth:
      - fabric-api
      - lithium
      - bluemap
      - servux
      - sdlink
      - craterlib

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                #  MAX_TICK_TIME: -1
                #  ENABLE_AUTOPAUSE: "true"
                #  AUTOPAUSE_KNOCK_INTERFACE: "eth0"
                #  AUTOPAUSE_TIMEOUT_EST: "1800"
                #  SKIP_SUDO: "true"
                STOP_SERVER_ANNOUNCE_DELAY: 60
                SERVER_PORT: "{{ .Values.service.main.ports.main.port }}"
                QUERY_PORT: "{{ .Values.service.main.ports.query.port }}"
                RCON_PORT: "{{ .Values.service.rcon.ports.rcon.port }}"
                ENABLE_QUERY: "true"
                EULA: "true"
                GUI: "false"
                SNOOPER_ENABLED: "false"
                OVERRIDE_SERVER_PROPERTIES: "true"
                DUMP_SERVER_PROPERTIES: "true"
                VERSION: "1.21.4"
                TYPE: "FABRIC"
                DIFFICULTY: "easy"
                MAX_PLAYERS: 10
                MAX_WORLD_SIZE: 50000
                ALLOW_NETHER: "true"
                ANNOUNCE_PLAYER_ACHIEVEMENTS: "true"
                ENABLE_COMMAND_BLOCK: "false"
                FORCE_GAMEMODE: "false"
                GENERATE_STRUCTURES: "true"
                HARDCORE: "false"
                MAX_BUILD_HEIGHT: 320
                SPAWN_ANIMALS: "true"
                SPAWN_MONSTERS: "true"
                SPAWN_NPCS: "true"
                VIEW_DISTANCE: 32
                MODE: survival
                MOTD: "Viminaria Fabric"
                PVP: "true"
                LEVEL_TYPE: normal
                LEVEL: world
                ONLINE_MODE: "true"
                MEMORY: 12G
                SEED: "3986619299120800482"
                # The default password is randomly generated on each startup; however, a specific one can be set with RCON_PASSWORD.
                # RCON_PASSWORD: "secretrconpass"
                OPS: ""
                OVERRIDE_OPS: "true"
                ENABLE_WHITELIST: "false"
                WHITELIST: ""
                OVERRIDE_WHITELIST: "true"
                ENABLE_ROLLING_LOGS: "true"
                # LOG_TIMESTAMP: "true"
                # ICON: http://..../some/image.png
                # OVERRIDE_ICON: true
                ALLOW_FLIGHT: "false"
                # CURSEFORGE_FILES: "lithium,fabric-api"
                MODRINTH_PROJECTS: '{{ join "," .Values.modrinth }}'
                USE_FLARE_FLAGS: "false"
                USE_AIKAR_FLAGS: "true"
                USE_SIMD_FLAGS: "false"
            mcbackup:
              enabled: false

    persistence:
      data:
        enabled: true
        type: nfs
        path: ${MINECRAFT_NFS_PATH}
        server: ${PROXMOX_IP}

      backups:
        enabled: false

    ingress:
      bluemap:
        enabled: true
        primary: true
        ingressClassName: external
        targetSelector:
          bluemap: bluemap
        hosts:
          - host: mc.${DOMAIN_0}
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod

    resources:
      limits:
        cpu: 8000m
        memory: 16Gi
