apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: borealis
  namespace: borealis
spec:
  interval: 15m
  chart:
    spec:
      chart: external-service
      version: 16.4.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    ingress:
      main:
        enabled: true
        hosts:
          - host: borealis.${DOMAIN_0}
        ingressClassName: internal
        integrations:
          traefik:
            enabled: false
            #auth
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
    release_name: borealis
    service:
      main:
        enabled: true
        externalIP: ${BOREALIS_IP}
        ports:
          main:
            enabled: true
            port: 80
            protocol: http
        type: ExternalIP
    workload:
      main:
        enabled: false
        podSpec:
          containers:
            main: {}

