---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wg-easy
  namespace: wg-easy
spec:
  interval: 15m
  chart:
    spec:
      chart: wg-easy
      version: 18.9.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    securityContext:
      container:
        PUID: 0
        UMASK: '0022'
        advanced: false
        capabilities:
          add:
            - NET_ADMIN
            - NET_RAW
            - SYS_MODULE
        runAsGroup: 0
        runAsNonRoot: false
        runAsUser: 0
        privileged: true
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: "wg.${DOMAIN_0}"
            paths:
              - overrideService:
                  name: "main"
                  port: 51821
                path: "/"
                pathType: "Prefix"
        integrations:
          traefik:
            enabled: false
            #auth
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
    service:
      vpn:
        type: LoadBalancer
        loadBalancerIP: ${WG_EASY_IP}
        externalTrafficPolicy: Local
        ports:
          vpn:
            port: 1194
    workload:
      main:
        podSpec:
          securityContext:
            sysctls:
              - name: net.ipv4.ip_forward
                value: "1"
              - name: net.ipv4.conf.all.src_valid_mark
                value: "1"
          containers:
            main:
              env:
                HOST: "0.0.0.0"
                PORT: "{{ .Values.service.main.ports.main.port }}"
                INSECURE: false
