apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metube
  namespace: metube
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://charts.truechartsoci.org
      chart: metube
      version: 16.3.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: ytdl.${DOMAIN_0}
        integrations:
          traefik:
            enabled: false
          #auth
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
    persistence:
      downloads:
        enabled: true
        type: nfs
        path: ${METUBE_NFS_PATH}
        server: ${PROXMOX_IP}
